
 <div class="my-2 w-25">
<app-select [data]="categories" [title]="'Categories:'" (selectedValue)="filterCategory($event)"></app-select>
 </div>
 <br><br>

<main *ngIf="!loading">
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col" *ngFor="let product of products">
    <app-product [data]="product" (item)="addToCart($event)"></app-product>
</div>
</div>
</div> 
</main>

<div id="spinner" class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>
