<div class="card h-100 shadow-sm"> <img src="{{data.image}}" class="card-img-top">
    <div class="card-body">
        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"
                id="title">{{data.title.substring(0,28)}}
            </span> <span class="float-end price-hp">{{data.price}}&nbsp; DH</span> </div>
        <h5 class="card-title">{{data.description}}</h5>
        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add to Cart</a> </div>
    </div>
</div>